In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('Mobile_phone_price.csv')
df.head()

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
0,Apple,iPhone 13 Pro,128 GB,6 GB,6.1,12 + 12 + 12,3095,999
1,Samsung,Galaxy S21 Ultra,256 GB,12 GB,6.8,108 + 10 + 10 + 12,5000,1199
2,OnePlus,9 Pro,128 GB,8 GB,6.7,48 + 50 + 8 + 2,4500,899
3,Xiaomi,Redmi Note 10 Pro,128 GB,6 GB,6.67,64 + 8 + 5 + 2,5020,279
4,Google,Pixel 6,128 GB,8 GB,6.4,50 + 12.2,4614,799

In [6]:
df.sample(10)

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
303,OnePlus,8T,256,12,6.55,48+16+5+2,4500,749
329,Samsung,Galaxy A71,128,6,6.7,64+12+5+5,4500,399
49,Oppo,A16s,64 GB,4 GB,6.52,13 + 2 + 2,5000,179
198,Motorola,Moto G9 Power Lite,64GB,4GB,6.5,48MP + 2MP + 2MP,6000,$149
312,Huawei,P40 Pro,256,8,6.58,50+12+40+3D,4200,1099
169,Xiaomi,Redmi Note 9 Pro Max,128GB,6GB,6.67,64MP + 8MP + 5MP + 2MP,5020,$279
317,Nokia,5.4,64,4,6.39,48+5+2+2,4000,179
133,Samsung,Galaxy A52s 5G,128GB,6GB,6.5,64MP + 12MP + 5MP + 5MP,4500,$449
255,Vivo,V20 SE,128GB,8GB,6.44,48MP + 8MP + 2MP,4100,$319
152,Xiaomi,Redmi 9 Activ,64GB,4GB,6.53,13MP + 2MP,5000,$149

In [9]:
df.shape

(407, 8)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Model                   407 non-null    object
 2   Storage                 407 non-null    object
 3   RAM                     407 non-null    object
 4   Screen Size (inches)    407 non-null    object
 5   Camera (MP)             407 non-null    object
 6   Battery Capacity (mAh)  407 non-null    int64
 7   Price ($)               407 non-null    object
dtypes: int64(1), object(7)
memory usage: 25.6+ KB

In [15]:
df.describe()

       Battery Capacity (mAh)
count              407.000000
mean              4676.476658
std                797.193713
min               1821.000000
25%               4300.000000
50%               5000.000000
75%               5000.000000
max               7000.000000

In [16]:
df.columns

Index(['Brand', 'Model', 'Storage ', 'RAM ', 'Screen Size (inches)',
       'Camera (MP)', 'Battery Capacity (mAh)', 'Price ($)'],
      dtype='object')

In [18]:
df.nunique()

Brand                      16
Model                     239
Storage                    13
RAM                        20
Screen Size (inches)       41
Camera (MP)               143
Battery Capacity (mAh)     48
Price ($)                  89
dtype: int64

In [20]:
df['Price ($)'].unique()

array(['999', '1199', '899', '279', '799', '249', '699', '329', '449',
       '199', '299', '379', '179', '729', '599', '139', '189', '399',
       '259', '159', '229', '499', '129', '529', '369', '1099', '169',
       '99', '459', '239', '1299', '429', '659', '269', '359', '$799 ',
       '$399 ', '$699 ', '$329 ', '$999 ', '$549 ', '$1,299 ', '$899 ',
       '$449 ', '$319 ', '$269 ', '$349 ', '$279 ', '$249 ', '$299 ',
       '$969 ', '$1,199 ', '$149 ', '$139 ', '$99 ', '$199 ', '$169 ',
       '$499 ', '$179 ', '$219 ', '$229 ', '$239 ', '$109 ', '$189 ',
       '$389 ', '$309 ', '$369 ', '$129 ', '$849 ', '$469 ', '$209 ',
       '$119 ', '$339 ', '$429 ', '$159 ', '$379 ', '$289 ', '130', '749',
       '149', '969', '649', '349', '419', '1399', '1999', '119', '319',
       '1049'], dtype=object)

In [22]:
df['Screen Size (inches)'].unique()

array(['6.1', '6.8', '6.7', '6.67', '6.4', '6.55', '6.78', '6.43', '6.5',
       '6.62', '5.4', '6.2', '6.51', '6.6', '4.7', '6.58', '6.52', '6.44',
       '6.53', '6.56', '6.8 + 3.9', '4.5', '6.39', '5.9', '5.5', '6.81',
       '5.99', '6.82', '6.3', '6.22', '6', '6.35', '6.9', '6.76', '6.49',
       '6.72', '5.7', '6.47', '7.6 (unfolded)', '6.15', '6.57'],
      dtype=object)

In [23]:
df[df['Screen Size (inches)'] == '6.8 + 3.9']

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
88,LG,Wing,256GB,8GB,6.8 + 3.9,64MP + 13MP + 12MP,4000,$999

In [24]:
df[df['Screen Size (inches)'] == '7.6 (unfolded)']

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
373,Samsung,Galaxy Z Fold2 5G,256,12,7.6 (unfolded),12+12+12,4500,1999

In [25]:
df[(df['Screen Size (inches)'] == '6.8 + 3.9') | (df['Screen Size (inches)'] == '7.6 (unfolded)')]

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
88,LG,Wing,256GB,8GB,6.8 + 3.9,64MP + 13MP + 12MP,4000,$999
373,Samsung,Galaxy Z Fold2 5G,256,12,7.6 (unfolded),12+12+12,4500,1999

In [26]:
df['Price ($)'] = df['Price ($)'].str.replace('$','')
df['Price ($)'] = df['Price ($)'].str.replace(',','')
df['Price ($)'] = df['Price ($)'].str.replace(' ','')
df['Price ($)'] = df['Price ($)'].astype(int)

C:\Users\Achmad Budi\AppData\Local\Temp\ipykernel_17880\2386820811.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Price ($)'] = df['Price ($)'].str.replace('$','')

In [30]:
df['Price ($)'].unique()

array([ 999, 1199,  899,  279,  799,  249,  699,  329,  449,  199,  299,
        379,  179,  729,  599,  139,  189,  399,  259,  159,  229,  499,
        129,  529,  369, 1099,  169,   99,  459,  239, 1299,  429,  659,
        269,  359,  549,  319,  349,  969,  149,  219,  109,  389,  309,
        849,  469,  209,  119,  339,  289,  130,  749,  649,  419, 1399,
       1999, 1049])

In [27]:
df.describe()

       Battery Capacity (mAh)    Price ($)
count              407.000000   407.000000
mean              4676.476658   408.314496
std                797.193713   299.684768
min               1821.000000    99.000000
25%               4300.000000   199.000000
50%               5000.000000   299.000000
75%               5000.000000   499.000000
max               7000.000000  1999.000000

In [28]:
import re
harga = '$1,299 '
harga = re.sub('\D','', harga)
harga

'1299'

In [31]:
df['RAM '] = df['RAM '].str.replace('GB', '')
df['RAM '] = df['RAM '].str.replace(' ', '')
df['RAM '] = df['RAM '].astype(int)
df['RAM ']

0       6
1      12
2       8
3       6
4       8
       ..
402     8
403     6
404     6
405     8
406     6
Name: RAM , Length: 407, dtype: int32

In [32]:
df.describe()

             RAM   Battery Capacity (mAh)    Price ($)
count  407.000000              407.000000   407.000000
mean     5.837838             4676.476658   408.314496
std      2.431980              797.193713   299.684768
min      2.000000             1821.000000    99.000000
25%      4.000000             4300.000000   199.000000
50%      6.000000             5000.000000   299.000000
75%      8.000000             5000.000000   499.000000
max     16.000000             7000.000000  1999.000000

In [36]:
df.sort_values(by = ['Battery Capacity (mAh)', 'Price ($)'], ascending = [False, True])

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
208,Samsung,Galaxy M62,128GB,8,6.7,64MP + 12MP + 5MP + 5MP,7000,429
334,Samsung,Galaxy M51,128,6,6.7,64+12+5+5,7000,449
119,Realme,Narzo 50A,64GB,4,6.5,50MP + 2MP,6000,149
128,Nokia,C30,64GB,3,6.82,13MP + 2MP,6000,149
175,Realme,C25s,128GB,4,6.5,13MP + 2MP + 2MP,6000,149
...,...,...,...,...,...,...,...,...
32,Apple,iPhone SE (2nd Gen),64 GB,3,4.7,12,1821,399
62,Apple,iPhone SE (2020),64 GB,3,4.7,12,1821,399
289,Apple,iPhone SE (2020),64,3,4.7,12,1821,399
333,Apple,iPhone SE (2020),64,3,4.7,12,1821,399
379,Apple,iPhone SE (2020),128,3,4.7,12,1821,449

In [38]:
df[(df['Brand'] == 'Xiaomi') & (df['RAM '] == 6)]

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
3,Xiaomi,Redmi Note 10 Pro,128 GB,6,6.67,64 + 8 + 5 + 2,5020,279
7,Xiaomi,Poco X3 Pro,128 GB,6,6.67,48 + 8 + 2 + 2,5160,249
15,Xiaomi,Mi 11 Lite 5G NE,128 GB,6,6.55,64 + 8 + 5,4250,329
20,Xiaomi,Redmi 10 Prime,128 GB,6,6.5,50 + 8 + 2 + 2,6000,179
24,Xiaomi,Redmi Note 10 Pro Max,128 GB,6,6.67,108 + 8 + 5 + 2,5020,279
67,Xiaomi,Redmi Note 10S,128 GB,6,6.43,64 + 8 + 2 + 2,5000,229
73,Xiaomi,Mi 11 Lite 5G,128 GB,6,6.55,64 + 8 + 5,4250,369
81,Xiaomi,Poco X4 Pro,128GB,6,6.67,48MP + 8MP + 2MP + 2MP,5160,329
92,Xiaomi,Redmi Note 10 Pro Max,128GB,6,6.67,108MP + 8MP + 5MP + 2MP,5020,319
110,Xiaomi,Poco M3 Pro 5G,128GB,6,6.5,48MP + 2MP + 2MP,5000,199
117,Xiaomi,Redmi 10 Prime,128GB,6,6.5,50MP + 8MP + 2MP + 2MP,6000,219
126,Xiaomi,Mi 11 Lite 5G,128GB,6,6.55,64MP + 8MP + 5MP,4250,399
164,Xiaomi,Redmi Note 10S,128GB,6,6.43,64MP + 8MP + 2MP + 2MP,5000,229
169,Xiaomi,Redmi Note 9 Pro Max,128GB,6,6.67,64MP + 8MP + 5MP + 2MP,5020,279
174,Xiaomi,Poco X3 Pro,128GB,6,6.67,48MP + 8MP + 2MP + 2MP,5160,249
182,Xiaomi,Mi 11 Lite NE,128GB,6,6.55,64MP + 8MP + 5MP,4250,329
186,Xiaomi,Redmi Note 10 Pro,128GB,6,6.67,64MP + 8MP + 5MP + 2MP,5020,329
193,Xiaomi,Redmi 9 Activ,128GB,6,6.53,50MP + 2MP,5000,209
201,Xiaomi,Redmi Note 10S,128GB,6,6.43,64MP + 8MP + 2MP + 2MP,5000,279
206,Xiaomi,Mi 10i,128GB,6,6.67,108MP + 8MP + 2MP + 2MP,4820,319
210,Xiaomi,Redmi 10 Prime,128GB,6,6.5,50MP + 8MP + 2MP + 2MP,6000,199
213,Xiaomi,Poco X3 Pro,128GB,6,6.67,48MP + 8MP + 2MP + 2MP,5160,299
246,Xiaomi,Poco X3 Pro,128GB,6,6.67,48MP + 8MP + 2MP + 2MP,5160,249
257,Xiaomi,Redmi Note 9 Pro Max,64GB,6,6.67,64MP + 8MP + 5MP + 2MP,5020,279
290,Xiaomi,Poco X3 Pro,128,6,6.67,48+8+2+2,5160,249
310,Xiaomi,Redmi Note 10 Pro,128,6,6.67,108+8+5+2,5020,279
331,Xiaomi,Poco X3 Pro,128,6,6.67,48+8+2+2,5160,249
340,Xiaomi,Redmi Note 9S,128,6,6.67,48+8+5+2,5020,249
346,Xiaomi,Mi 10T Lite,128,6,6.67,64+8+2+2,4820,279
352,Xiaomi,Mi 11 Lite,128,6,6.55,64+8+5,4250,399
368,Xiaomi,Redmi Note 9S,128,6,6.67,48+8+5+2,5020,229
386,Xiaomi,Redmi Note 10 Pro,128,6,6.67,108+8+5+2,5020,329
403,Xiaomi,Mi 10 Lite 5G,128,6,6.57,48+8+2+2,4160,349

In [39]:
df.loc[(df['Brand'] == 'Xiaomi'), ['Brand','Model','Price ($)']]

      Brand                  Model  Price ($)
3    Xiaomi      Redmi Note 10 Pro        279
7    Xiaomi            Poco X3 Pro        249
15   Xiaomi       Mi 11 Lite 5G NE        329
20   Xiaomi         Redmi 10 Prime        179
24   Xiaomi  Redmi Note 10 Pro Max        279
..      ...                    ...        ...
380  Xiaomi               Redmi 9C        119
386  Xiaomi      Redmi Note 10 Pro        329
389  Xiaomi               Redmi 9T        199
397  Xiaomi                Poco M3        149
403  Xiaomi          Mi 10 Lite 5G        349

[67 rows x 3 columns]

In [40]:
df.iloc[0:5, 1:3] # mengambil baris 1,2,3,4 dan kolom 1,2 saja

               Model Storage
0      iPhone 13 Pro   128 GB
1   Galaxy S21 Ultra   256 GB
2              9 Pro   128 GB
3  Redmi Note 10 Pro   128 GB
4            Pixel 6   128 GB

In [46]:
df['Battery Dollar'] = round((df['Battery Capacity (mAh)'] / df['Price ($)']),2)

In [47]:
df

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($),Battery Dollar
0,Apple,iPhone 13 Pro,128 GB,6,6.1,12 + 12 + 12,3095,999,3.10
1,Samsung,Galaxy S21 Ultra,256 GB,12,6.8,108 + 10 + 10 + 12,5000,1199,4.17
2,OnePlus,9 Pro,128 GB,8,6.7,48 + 50 + 8 + 2,4500,899,5.01
3,Xiaomi,Redmi Note 10 Pro,128 GB,6,6.67,64 + 8 + 5 + 2,5020,279,17.99
4,Google,Pixel 6,128 GB,8,6.4,50 + 12.2,4614,799,5.77
...,...,...,...,...,...,...,...,...,...
402,Samsung,Galaxy Note20 5G,128,8,6.7,12+64+12,4300,1049,4.10
403,Xiaomi,Mi 10 Lite 5G,128,6,6.57,48+8+2+2,4160,349,11.92
404,Apple,iPhone 12 Pro Max,128,6,6.7,12+12+12,3687,1099,3.35
405,Oppo,Reno3,128,8,6.4,48+13+8+2,4025,429,9.38
406,Samsung,Galaxy S10 Lite,128,6,6.7,48+12+5,4500,649,6.93

In [61]:
df.groupby(['Brand']).agg({'Battery Capacity (mAh)': ['mean'], 'Price ($)':['min']})

           Battery Capacity (mAh) Price ($)
                             mean       min
Brand
Apple                 2863.900000       399
Asus                  5000.000000       699
Blackberry            3500.000000       399
CAT                   4200.000000       299
Google                4019.857143       499
Huawei                4161.666667       199
LG                    4100.000000       349
Motorola              5021.739130        99
Nokia                 4502.857143        99
OnePlus               4415.000000       299
Oppo                  4631.339286       139
Realme                5176.744186        99
Samsung               4936.708861       129
Sony                  4500.000000      1299
Vivo                  4750.000000       139
Xiaomi                5101.791045       119

In [62]:
df.groupby(['Brand'])['Battery Capacity (mAh)', 'Price ($)'].mean().sort_values(by=['Price ($)'])

C:\Users\Achmad Budi\AppData\Local\Temp\ipykernel_17880\2900169093.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['Brand'])['Battery Capacity (mAh)', 'Price ($)'].mean().sort_values(by=['Price ($)'])

            Battery Capacity (mAh)    Price ($)
Brand
Realme                 5176.744186   206.906977
Nokia                  4502.857143   244.714286
Motorola               5021.739130   278.130435
Xiaomi                 5101.791045   282.880597
CAT                    4200.000000   299.000000
Vivo                   4750.000000   323.000000
Oppo                   4631.339286   376.142857
Samsung                4936.708861   480.405063
Blackberry             3500.000000   499.000000
LG                     4100.000000   615.666667
OnePlus                4415.000000   644.333333
Google                 4019.857143   699.000000
Apple                  2863.900000   745.666667
Huawei                 4161.666667   783.166667
Asus                   5000.000000   874.000000
Sony                   4500.000000  1299.000000

In [60]:
pd.crosstab(df['Brand'], df['RAM '])

RAM         2   3   4   5   6   8   12  16
Brand
Apple        0  11  14   0   5   0   0   0
Asus         0   0   0   0   1   3   0   0
Blackberry   0   0   1   0   2   0   0   0
CAT          0   1   0   0   0   0   0   0
Google       0   0   0   0   2   5   0   0
Huawei       0   0   2   0   0  10   0   0
LG           0   0   0   0   2   1   0   0
Motorola     1   2  14   2   3   0   1   0
Nokia        4   8  10   0   4   2   0   0
OnePlus      0   0   0   0   3   8   4   0
Oppo         0   4  13   0  14  15  10   0
Realme       5   2  20   0   5  11   0   0
Samsung      1   4  26   0  29  12   6   1
Sony         0   0   0   0   0   1   0   0
Vivo         0   5   5   0   4  18   3   0
Xiaomi       0   1  23   0  33   9   1   0

In [64]:
df.pivot_table(index = 'Brand', values=['Price ($)','Battery Capacity (mAh)'], aggfunc = ['mean','max'])

                             mean                                 max  \
           Battery Capacity (mAh)    Price ($) Battery Capacity (mAh)
Brand
Apple                 2863.900000   745.666667                   4352
Asus                  5000.000000   874.000000                   6000
Blackberry            3500.000000   499.000000                   4000
CAT                   4200.000000   299.000000                   4200
Google                4019.857143   699.000000                   4614
Huawei                4161.666667   783.166667                   4500
LG                    4100.000000   615.666667                   4300
Motorola              5021.739130   278.130435                   6000
Nokia                 4502.857143   244.714286                   6000
OnePlus               4415.000000   644.333333                   4510
Oppo                  4631.339286   376.142857                   5000
Realme                5176.744186   206.906977                   6000
Samsung               4936.708861   480.405063                   7000
Sony                  4500.000000  1299.000000                   4500
Vivo                  4750.000000   323.000000                   5000
Xiaomi                5101.791045   282.880597                   6000


           Price ($)
Brand
Apple           1299
Asus             999
Blackberry       699
CAT              299
Google           799
Huawei          1399
LG               999
Motorola         699
Nokia            549
OnePlus          999
Oppo            1199
Realme           399
Samsung         1999
Sony            1299
Vivo            1199
Xiaomi          1199

In [65]:
df.pivot_table(index = 'Brand', values = 'Price ($)', columns = 'RAM ', aggfunc = 'mean')

RAM,2,3,4,5,6,8,12,16
Brand,,,,,,,,
Apple,NaN,494.454545,838.285714,NaN,1039.000000,NaN,NaN,NaN
Asus,NaN,NaN,NaN,NaN,699.000000,932.333333,NaN,NaN
Blackberry,NaN,NaN,399.000000,NaN,549.000000,NaN,NaN,NaN
CAT,NaN,299.000000,NaN,NaN,NaN,NaN,NaN,NaN
Google,NaN,NaN,NaN,NaN,649.000000,719.000000,NaN,NaN
Huawei,NaN,NaN,264.000000,NaN,NaN,887.000000,NaN,NaN
LG,NaN,NaN,NaN,NaN,424.000000,999.000000,NaN,NaN
Motorola,99.0,184.000000,239.714286,399.0,359.000000,NaN,699.0,NaN
Nokia,134.0,142.750000,228.000000,NaN,474.000000,499.000000,NaN,NaN
OnePlus,NaN,NaN,NaN,NaN,309.000000,631.500000,921.5,NaN
Oppo,NaN,151.500000,190.538462,NaN,272.571429,407.666667,805.0,NaN
Realme,99.0,129.000000,166.500000,NaN,291.000000,305.363636,NaN,NaN
Samsung,129.0,139.250000,231.692308,NaN,441.068966,746.500000,1349.0,1399.0
Sony,NaN,NaN,NaN,NaN,NaN,1299.000000,NaN,NaN
Vivo,NaN,145.000000,179.000000,NaN,219.000000,322.888889,999.0,NaN
Xiaomi,NaN,119.000000,182.913043,NaN,279.909091,465.666667,1199.0,NaN

In [66]:
df

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($),Battery Dollar
0,Apple,iPhone 13 Pro,128 GB,6,6.1,12 + 12 + 12,3095,999,3.10
1,Samsung,Galaxy S21 Ultra,256 GB,12,6.8,108 + 10 + 10 + 12,5000,1199,4.17
2,OnePlus,9 Pro,128 GB,8,6.7,48 + 50 + 8 + 2,4500,899,5.01
3,Xiaomi,Redmi Note 10 Pro,128 GB,6,6.67,64 + 8 + 5 + 2,5020,279,17.99
4,Google,Pixel 6,128 GB,8,6.4,50 + 12.2,4614,799,5.77
...,...,...,...,...,...,...,...,...,...
402,Samsung,Galaxy Note20 5G,128,8,6.7,12+64+12,4300,1049,4.10
403,Xiaomi,Mi 10 Lite 5G,128,6,6.57,48+8+2+2,4160,349,11.92
404,Apple,iPhone 12 Pro Max,128,6,6.7,12+12+12,3687,1099,3.35
405,Oppo,Reno3,128,8,6.4,48+13+8+2,4025,429,9.38
406,Samsung,Galaxy S10 Lite,128,6,6.7,48+12+5,4500,649,6.93

In [70]:
df_melt = df.melt(id_vars = ['Brand', 'Model', 'Storage ', 'RAM ', 'Screen Size (inches)', 'Camera (MP)'], \
       var_name = 'kolom_berikutnya', value_name = 'value')
df_melt

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),kolom_berikutnya,value
0,Apple,iPhone 13 Pro,128 GB,6,6.1,12 + 12 + 12,Battery Capacity (mAh),3095.00
1,Samsung,Galaxy S21 Ultra,256 GB,12,6.8,108 + 10 + 10 + 12,Battery Capacity (mAh),5000.00
2,OnePlus,9 Pro,128 GB,8,6.7,48 + 50 + 8 + 2,Battery Capacity (mAh),4500.00
3,Xiaomi,Redmi Note 10 Pro,128 GB,6,6.67,64 + 8 + 5 + 2,Battery Capacity (mAh),5020.00
4,Google,Pixel 6,128 GB,8,6.4,50 + 12.2,Battery Capacity (mAh),4614.00
...,...,...,...,...,...,...,...,...
1216,Samsung,Galaxy Note20 5G,128,8,6.7,12+64+12,Battery Dollar,4.10
1217,Xiaomi,Mi 10 Lite 5G,128,6,6.57,48+8+2+2,Battery Dollar,11.92
1218,Apple,iPhone 12 Pro Max,128,6,6.7,12+12+12,Battery Dollar,3.35
1219,Oppo,Reno3,128,8,6.4,48+13+8+2,Battery Dollar,9.38
1220,Samsung,Galaxy S10 Lite,128,6,6.7,48+12+5,Battery Dollar,6.93

In [71]:
df_melt['kolom_berikutnya'].unique()

array(['Battery Capacity (mAh)', 'Price ($)', 'Battery Dollar'],
      dtype=object)

In [74]:
df.stack().head(30)

0  Brand                                  Apple
   Model                          iPhone 13 Pro
   Storage                               128 GB
   RAM                                        6
   Screen Size (inches)                     6.1
   Camera (MP)                     12 + 12 + 12
   Battery Capacity (mAh)                  3095
   Price ($)                                999
   Battery Dollar                           3.1
1  Brand                                Samsung
   Model                       Galaxy S21 Ultra
   Storage                               256 GB
   RAM                                       12
   Screen Size (inches)                     6.8
   Camera (MP)               108 + 10 + 10 + 12
   Battery Capacity (mAh)                  5000
   Price ($)                               1199
   Battery Dollar                          4.17
2  Brand                                OnePlus
   Model                                  9 Pro
   Storage                               128 GB
   RAM                                        8
   Screen Size (inches)                     6.7
   Camera (MP)                  48 + 50 + 8 + 2
   Battery Capacity (mAh)                  4500
   Price ($)                                899
   Battery Dollar                          5.01
3  Brand                                 Xiaomi
   Model                      Redmi Note 10 Pro
   Storage                               128 GB
dtype: object

In [76]:
df = df.rename(columns = {'Storage ':'Storage','RAM ':'RAM'})

In [77]:
df.columns

Index(['Brand', 'Model', 'Storage', 'RAM', 'Screen Size (inches)',
       'Camera (MP)', 'Battery Capacity (mAh)', 'Price ($)', 'Battery Dollar'],
      dtype='object')

In [87]:
bin_labels = ['Bronze', 'Silver', 'Gold', 'Platinum']
results, bin_edges = pd.qcut(df['Price ($)'], q = 4, labels = bin_labels, retbins = True)

In [88]:
results

0      Platinum
1      Platinum
2      Platinum
3        Silver
4      Platinum
         ...
402    Platinum
403        Gold
404    Platinum
405        Gold
406    Platinum
Name: Price ($), Length: 407, dtype: category
Categories (4, object): ['Bronze' < 'Silver' < 'Gold' < 'Platinum']

In [80]:
bin_edges

array([  99.,  199.,  299.,  499., 1999.])

In [81]:
results.value_counts()

Bronze      119
Silver      101
Platinum     95
Gold         92
Name: Price ($), dtype: int64

In [83]:
bin_labels = ['Bronze', 'Silver', 'Gold', 'Platinum']
results, bin_edges = pd.qcut(df['Battery Dollar'], q = 4, labels = bin_labels, retbins = True)

In [84]:
bin_edges

array([ 2.25,  8.35, 16.72, 25.13, 50.51])

In [85]:
results.value_counts()

Silver      106
Bronze      103
Gold        100
Platinum     98
Name: Battery Dollar, dtype: int64

In [89]:
df['Price Category'] = results
df

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($),Battery Dollar,Price Category
0,Apple,iPhone 13 Pro,128 GB,6,6.1,12 + 12 + 12,3095,999,3.10,Platinum
1,Samsung,Galaxy S21 Ultra,256 GB,12,6.8,108 + 10 + 10 + 12,5000,1199,4.17,Platinum
2,OnePlus,9 Pro,128 GB,8,6.7,48 + 50 + 8 + 2,4500,899,5.01,Platinum
3,Xiaomi,Redmi Note 10 Pro,128 GB,6,6.67,64 + 8 + 5 + 2,5020,279,17.99,Silver
4,Google,Pixel 6,128 GB,8,6.4,50 + 12.2,4614,799,5.77,Platinum
...,...,...,...,...,...,...,...,...,...,...
402,Samsung,Galaxy Note20 5G,128,8,6.7,12+64+12,4300,1049,4.10,Platinum
403,Xiaomi,Mi 10 Lite 5G,128,6,6.57,48+8+2+2,4160,349,11.92,Gold
404,Apple,iPhone 12 Pro Max,128,6,6.7,12+12+12,3687,1099,3.35,Platinum
405,Oppo,Reno3,128,8,6.4,48+13+8+2,4025,429,9.38,Gold
406,Samsung,Galaxy S10 Lite,128,6,6.7,48+12+5,4500,649,6.93,Platinum